
/*Products box-shadow on hover*/
html .woocommerce ul.products li.product.box-shadow-1, 
html .woocommerce ul.products li.product.box-shadow-1-hover:hover, 
html .woocommerce-page ul.products li.product.box-shadow-1, 
html .woocommerce-page ul.products li.product.box-shadow-1-hover:hover {
    box-shadow: 0px 1px 1px 4px #f0f0f0;
    transition: all .3s ease-in-out;
    border-radius: 3px;
}

/*woocommerce products filter´s*/
html .woocommerce .select2-container .select2-selection--single,
html .woocommerce select, 
html .woocommerce-page .select2-container .select2-selection--single, 
html .woocommerce-page select {
    border: 1px solid #eaeaea;
    border-radius: 15px;
    animation: shadow-pulse 2s infinite;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    font-size: 12px;
    padding: 6px 16px !important;
}



@keyframes shadow-pulse{0% {box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);}100% {box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);}}

/*Box Search*/
html #mc4wp-form-1 input {
    max-width: 80%;
    float: left;
    position: relative;
    display: block;
}

html .mc4wp-form-fields p {
    width: 10%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    display: block;
}
